@import "reset.css";

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
  background-color: lightgray;
}

body,
h1,
p {
  font-size: 12px;
  color: black;
}

.main {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  padding: 30px 25px;
  box-sizing: border-box;
  background-color: white;
}

.login-area {
  width: 350px;
  height: 140px;
  padding: 20px 16px;
  box-sizing: border-box;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

.login-area a {
  color: #767676;
}

.login-area .loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 15px 0 16px 0;
  color: white;
  background: #711BFF;
  border-radius: 4px;
  font-family: "SpoqaHanSansNeo-Regular";
}

.login-area .loginBtn img {
  width: 64px;
  height: 18px;
  margin-right: 4px;
}

.login-area .lock,
.user {
  width: 16px;
  height: 16px;
}

.login-area .findMenu {
  display: flex;
  float: left;
  align-items: center;
}

.login-area .findMenu .findID::after {
  position: relative;
  top: 2px;
  content: " ";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 4px;
  background-color: #8f8f8f;
}

.login-area .findMenu .findPW {
  position: relative;
  top: 1px;
}

.login-area .findMenu img, .findID {
  margin-right: 4px;
}

.login-area .signUp {
  display: flex;
  float: right;
  align-items: center;
  width: 65px;
}

.login-area .signUp img {
  margin-right: 4px;
}